.cart-container {
  padding: 40px;
  color: #8b5cf6;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  background: #222;
  padding: 15px;
  border-radius: 10px;
  align-items: center;
}

.cart-right {
  display: flex;
  gap: 15px;
  align-items: center;
}

.remove-btn {
  background: red;
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.cart-footer {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkout-btn {
  background: #8b5cf6;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  border-radius: 8px;
}